<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                © 2020 Copyright <span class="d-none d-md-inline-block"> - Coded  <i class="fas fa-heart text-danger"></i> by .</span>
            </div>
        </div>
    </div>
</footer>